html {
	scroll-behavior: smooth;
}


/* 1. Set the keyframes 
============================================ */

//Fade in
@-webkit-keyframes fadein { 
    0%,50%		{opacity: 0;} 
    100% 		{opacity: 1;} 
}
@-moz-keyframes fadein { 
    0%,50%		{opacity: 0;} 
    100% 		{opacity: 1;} 
}
@-o-keyframes fadein { 
    0%,50%		{opacity: 0;} 
    100% 		{opacity: 1;} 
}
@keyframes fadein {
    0%,50%		{opacity: 0;} 
    100% 		{opacity: 1;} 
}



/* 2. Add it to the class

	Arguments:::
	
    animation-name: 			the name of the animation;
    animation-duration: 		how long the keyframes will take to go from 0% to 100%;
    animation-timing-function:	the speed from start to end (linier, ease [slow start, then ends fast]  linear, easing OR USE http://cubic-bezier.com/#0,.67,.75,.9;
    animation-delay: 			the delay beofore it animates;
    animation-iteration-count:	the number of times it plays;
    animation-direction:		;
	animation-fill-mode
	animation-play-state




	Example ::

	animation-name: bounce;
	animation-duration: 4s;
	animation-timing-function: ease-out;
	animation-delay: 2s;
	animation-iteration-count: 10;
	animation-direction: alternate;
	animation-fill-mode: forwards;
 
 
	Example - infinte loop::
	
	
	Example - play once only (one load, fade in)
 

============================================ */

@mixin animate ($animation){
	-webkit-animation: $animation; 
	-moz-animation: $animation; 
	-o-animation: $animation; 
	-ms-animation: $animation; 
	animation: $animation; 	
}


.fadein {
// 	@include animate(fadein 4s infinite linear ease-out forwards 4s);
	@include animate(fadein .5s);
}
