
/* 1. Define Colors
================================================== */

// Colors
$col-red:		#D22121;


// Greys
$col-black:		#1A1A1A;
$col-dkgrey:	#4F4F4F;
$col-mdgrey:	#bdbdbd;
$col-ltgrey:	#C4C4C4;
$col-fdgrey:	#f6f6f6;


/* 2. Create reusable swatches
================================================== */

$colours:
	"red"		$col-red,
	"black"		$col-black,
	"dkgrey"	$col-dkgrey,
	"mdgrey"	$col-mdgrey,
	"ltgrey"	$col-ltgrey,
	"fdgrey"	$col-fdgrey,
	"white"		#fff
	;

@each $i in $colours{
		
	.background-color-#{nth($i, 1)} {
		background: nth($i, 2);
	}
	.text-color-#{nth($i, 1)} {
		color:nth($i, 2);
	}
	.background-stretch-full-width-#{nth($i, 1)}:before {
		background: nth($i, 2);
	}
}

