/* Breakpoints
================================================== */

$md-bp:		660px;	
$lg-bp:		1024px;	
$xl-bp:		1200px;	
$xxl-bp:	1600px;	

$max-width: 98rem;


[class*="background-stretch-full-width"] {

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;


		height: 100%;
		width: 100vw;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;


	}
}
body {
	overflow-x:hidden;
}

.hide-md-bp {
	@media(max-width:$md-bp - 1) {
		display: none !important;
	
	}
}
.hide-lg-bp {
	@media(max-width:$lg-bp - 1) {
		display: none !important;
	
	}
}