/* Archive
====================================================== */

.first-after-category li:nth-child(1),
.first-after-category li:nth-child(2),
.first-after-category li:nth-child(3),
.first-after-category li:nth-child(4) {
    display:none;

}


/* UI 
====================================================== */

.plain-page {
    padding: 1rem;
    max-width: 45em;
    margin: auto;
    margin-bottom: 3em;
    .page-title {
        margin-bottom: .5em;
    }
}

/* homepage ads
====================================================== */

.fulltakeover {
    position: fixed;
    height: 100vh;
	height: calc(var(--vh) * 100);		

    width: 100%;
    top: 0;
    background-color: #000;
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include background-size(cover);
        background-position: center;

    }
    > .scroll_down {
        position: absolute;
        bottom: 0;
        cursor: pointer;
        top: auto;
        width: 100%;
        height: 3em;
        left: 0;
        &:before {
            content: '';
            left: 50%;
            margin-left: -17px;
            position: absolute;
            width: 34px;
            height: 2em;
            background: url(../../images/scroll-down.svg) no-repeat center;
            @include background-size(contain);
            @include animate(bounce 2s linear 2s infinite alternate);

        }
    }
    @media(min-width:$sm-bp) {
        .mobile { display: block; }
        .tablet { display: none; }
        .desktop { display: none; }
    }
    @media(min-width:$md-bp) {        
        .mobile { display: none; }
        .tablet { display: block; }
        .desktop { display: none; }
        > .scroll_down {
            &:before {
                width: 52px;
                margin-left: -26px;

            }
            height: 3.25em;

        }

    }
    @media(min-width:$lg-bp) {
        .mobile { display: none; }
        .tablet { display: none; }
        .desktop { display: block; }
        > .scroll_down {
            &:before {
                width: 68px;
                margin-left: -34px;
            }
            height: 4em;

        }

    }
}
.fulltakeover-spacer {
    height: 100vh;
    width: 100%;

}
.fulltakeover-above {
    background-color: #FFF;
    position: relative;
    z-index: 2;
    padding-top: 1rem;


    .archive-tile-style {
        padding-top: 2rem;
    }

    .code-block.code-block-1 {
        display: none;
    }

}



.politetakeover {
	width: 100%;
    left: 0;
    z-index: 1;

    background-color: #000;

    .desktop {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: top center;

    }
    .tablet,
    .mobile {
        img {
            display: block;
            margin: auto;
            width: 100%;            
        }
    }

    .mobile { display: block; }
    .tablet { display: none; }
    .desktop { display: none; }
    @media(min-width:$md-bp) {      
  
        .mobile { display: none; }
        .tablet { display: block; }
        .desktop { display: none; }
    }
    @media(min-width:$lg-bp) {      

    // @media(min-width:1400px) {
        height: 100%;
        position: fixed;

        .mobile { display: none; }
        .tablet { display: none; }
        .desktop { display: block; }
    }
    @media(min-width:$xl-bp) {      
        top: 71px;
    }

}
.politetakeover-above {
    @media(min-width:$lg-bp) {      
        // @media(min-width:1400px) {
        position: relative;
        z-index: 2;
        max-width: 1072px;
        margin: auto;
        background: #fff;
        overflow: hidden;
    
        margin-top: 199px;
    }
}




.politetakeover-above {
    .archive-tile-style {
        padding-top: 2rem;
    }

    .code-block.code-block-1 {
        display: none;
    }
  

    @media(min-width:$xl-bp) {
        .category-features {
            padding-left: 60%;
            > li {
                width: 100%;
            }
            > li.standout {
                width: 60%;
            }
            > li.adspace {
                display: none;
            }

        }

    }
    .big-and-small .big-tiles-wrap,
    .big-and-small .small-tiles-wrap {
        width: 100%;
    }
    .big-and-small .small-tiles-wrap {
        .archive-tile-style.small-tiles>li {
            width: 25%;
            padding-left:0;
            height: auto;
        }    
        .archive-tile-style.small-tiles {
            .image-wrap {
                width: auto;
                position: relative;
            }            
            .heading {
                padding-top: .5em;
        
            }    
            li:nth-child(9),
            li:nth-child(10) {
        
                display: none;
            }
        
        }
        
    }

    .big-and-small-style2 {
		@media(min-width:$xl-bp) {
			.small-tiles-wrap {
				.archive-tile-style.small-tiles {
					> li {
                        width: 100%;
                        &:nth-child(9),
                        &:nth-child(10),
                        &:nth-child(11),
                        &:nth-child(12){
                            display: none;
                        }
					}
				}
            }
		}
	}	

}







/* search page
====================================================== */
.zero-results {
    padding: 1rem;
}


/* Homepage
====================================================== */

.code-block.code-block-1 {
    margin: 1.2em auto;
    @media(min-width:$lg-bp) {
        margin-top: 0;
    }
}

.homepage-block-title {
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1rem;
    @include box-sizing(border-box);
    font-family:"Gothic821W01-Condensed";
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    margin-top: .1em;
    width: 100%;
    a {
        color: $col-black;
        text-decoration: none;
        &:focus,
        &:hover {
            color: $col-red;
        }
    }
    @media(min-width:$md-bp) {
        margin-top: 1em;
        padding: 1rem 2rem;

    }
    @media(min-width:$lg-bp) {
        font-size: 1.25em;
    }

}



.homepage-topfold {
    background:  $col-black ;

    color: #FFF;
    text-align: center;
    @include box-sizing( border-box );
    padding: 1.25rem 1rem;
    position: relative;
    a {
        color: #FFF;
        text-decoration: none;
    }
    .btn {
        margin: 1em .25em;        
    }
    @media(min-width:$lg-bp) {
        padding: 2.5rem;
    
    }
}
.fullvideoplay.homepage-topfold {
    height: auto;
    padding: 0;
    .homepage-banner-inner {
        max-width: none;
        height: auto;
    }
    .homepage-banner {
        width: 100%;
        padding: 0;
        height: auto;
        padding-bottom: 56.5%;
        // max-width: 1460px;

        // > * {
        //     height:auto;
        //     position: relative;
        // }

        // @media(max-height:$md-bp) {
        //     max-width: 960px;
        // }

    }
    .video-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .title {
        display: none;
    }
}
.video-link {
    iframe {
        pointer-events: none;
    }
}
.homepage-banner-inner {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.homepage-banner {
    display: block;
    margin: auto;
    width: 100%;
    position: relative;


    height: 0;
    padding-bottom: 56.3%;
    > * {
        width: 100%;
        height: auto;

        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
        border: 1px solid #4F4F4F;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        @include transition(.5s);
        opacity: 1;
    }
    &.ready {
        &:before {
            opacity: 0;
            pointer-events: none;

        }
    }
    @media(min-width:$xl-bp) {

        width: 75%;
        padding-bottom: 42.3%;
    }
}
.banner-text-item {
    max-width: 24em;
    margin: 0 auto;
    font-size: 1.2em;
	font-family:"Gothic821W01-Condensed";
    font-weight: normal;
    line-height: 1.25;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .75rem;

    @include box-sizing( border-box );

    @media(min-width:$md-bp) {
        font-size: 1.7em;
    }
    @media(min-width:$lg-bp) {
        font-size: 1.9em;		
        padding-top: 2rem;
    }
}


#simpleslideshow {
    position: relative;
    height: 100%;
    > div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        > * {
            position: absolute;
            top:50%;
            left: 50%;
            @include transform(translateX(-50%) translateY(-50%));
        }
    }
}


.logo-grid {
    padding-bottom: 2em;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    .heading {
        text-align: center;
    }   
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        @include box-sizing(border-box);

    }
    ul {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }
    li {
        width: 33.3334%;
        align-items: center;
        padding: 0em 1em 0em 1em;
    }
    @media(min-width:$md-bp) {
        li {
            width: 20%;
        }
    }

   @media(min-width:$xl-bp) {
        li {
            width: 14%;
        }
    }
}




/* Video
---------------------------------------- */


.video-player-section {
    max-width: 74rem;
    margin: auto;
    padding-bottom: 1rem;
    overflow: hidden;
	p {
		margin-top: 2em;
		text-align: center;

	}
}
.video-thumbnails-wrap {
	position: relative;
    overflow: scroll;
    padding: 1rem;
    margin-bottom: -1em;
    cursor: grab;
    a {
        cursor: grab;
    }

    @media(min-width:$md-bp) {
        padding: 1rem 2rem ;
    }
}
.mainvideo {
    padding-left: 1rem;
    padding-right: 1rem;
	@media(min-width:$md-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.video-thumbnails-outerwrap {
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		width: 3em;
		height: 100%;


		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(246, 246, 246,1) 100%);
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(246, 246, 246,1) 100%); 
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(246, 246, 246,1) 100%); 


		position: absolute;
		right: 0;
		top: 0;

	}
}

.video-thumbnails {
	white-space: nowrap;
	display: inline-block;
	white-space: nowrap;
	padding-top: .5em;
    padding-bottom: 1em;
    img {
		width: 12em;		
	}
	a {
		text-decoration: none;
		display: inline-block;
		border: solid 5px transparent;
		position: relative;
		@include transition(.2s);
		vertical-align: top;
		white-space: initial;

		&:before {
			content: '';
			position: absolute;
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			top:-15px;
			left: 50%;
			margin-left: -10px;
			border-bottom: 15px solid $col-black;
			opacity: 0;
			@include transition(.2s);
		}
		img {
			display: block;

		}
		&.active,
		&:focus,
		&:hover {
			border: solid 5px $col-black;
			&:before {
				opacity: 1;
			}
		}
	}
	@media(min-width:$md-bp) {
		img {
			width: auto;
		}
	}
}

















/* 404
------------------------------------------------------------ */

.error404 {

    .plain-page {
        text-align: center;
        .search-form {
            margin-left: auto;
            margin-right: auto;
        }
        
    }
}


